/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
}

.container {
  display: flex;
  /* height: 98vh; */
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  /* justify-content: center; */
  /* align-items: center; */
}

/* Sidebar Styles */
.sidebar {
  /* width: 30%; */
  /* width: 24rem; */
  /* background-color: #f9fafb; */
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  border-radius: 0.75rem;
}

/* .profile {
  text-align: center;
} */

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile h1 {
  font-size: 24px;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.25rem;
  /* margin: 10px 0; */
  /* color: #333333; */
}

/* .profile h2 {
  font-size: 18px;
  color: #666666;
  margin: 5px 0;
} */

/* .profile p {
  font-size: 14px;
  color: #888888;
  margin-bottom: 20px;
} */

.links {
  margin-top: 1rem;
}

.links a {
  display: inline-block;
  font-size: 25px;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
  /* display: block;
  margin: 5px 0;
  color: #4047f9;
  text-decoration: none; */
}

.links a:hover {
  text-decoration: underline;
}

.about, .skills {
  margin-top: 30px;
}

/* .about h3, .skills h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #4047f9;
} */

.headline {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
}

.section-header {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.about-me-description {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 2.5rem;
}

.skills-list span {
  display: inline-block;
  background-color: #eff1ff;
  color: #4047f9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
}

.skill-button {
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: #eff1ff;
  color: #4047f9;
  border: none;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  cursor: default;
}

.projects {
  width: 100%;
}

.projects-subsection {
  padding: 1rem;
}

.projects-headline {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
}

.projects-grid {
  gap: 1.5rem;
  display: grid;
  margin-top: 0.5rem;
}

.projects-grid .group {
  color: inherit;
  text-decoration: inherit;
}

.group img {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  border-width: 1px;
  border-radius: 0.75rem;
  width: 100%;
  margin-bottom: 0.5rem;
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
  max-width: 415px;
  max-height: 135px;
  object-fit: cover;
}

.group .project-item-title {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.group .project-item-description {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.group .project-item-readme {
  --tw-text-opacity: 1;
  color: rgb(2 10 245 / var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-right: 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  --tw-border-opacity: 1;
  border-color: rgb(2 10 245 / var(--tw-border-opacity));
  border-width: 0px;
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.group .project-item-readme .arrow-logo {
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.125rem;
}

@media (min-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .container {
    gap: 0px;
    display: flex;
  }
  .sidebar {
    width: 24rem;
    flex: none;
  }
}

@media (min-width: 640px) {
  .sidebar {
    padding: 1.5rem;
  }
  .projects-subsection {
    padding: 1.5rem;
  }
}